/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-ce2ff180cbcadbb8d41f.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b0c86c90438f9c6941ea.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e41c084f90f13c8aeb02.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-07-01T17-08-09-0367.json
/cmake-build-debug/.cmake/api/v1/reply/target-propagate-Debug-e7e9cb01ee97cbf04d53.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ec1725459884363f77ed.json
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/propagate.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/propagate
/data/potential.dat
/data/psi_initial.dat
/data/psi_final.dat
/.idea/editor.xml
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-ea9cf60384c4f51d52e0.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-097c10b55dbcd320d1dd.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-30054d28a7d982a1bf2e.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-09-08T15-29-48-0104.json
/cmake-build-debug/.cmake/api/v1/reply/target-propagate-Debug-424835b4c13888b520a4.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-c7456e92b079cacd5132.json
/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdC/apple-sdk.c
/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdCXX/a.out
/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdCXX/apple-sdk.cpp
/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/4.0.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/4.0.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/4.0.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/InstallScripts.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f1666468c49db741a8b3.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-09-09T18-42-44-0943.json
/cmake-build-debug/.cmake/api/v1/reply/target-propagate-Debug-b2af428f9caece37f247.json
/cmake-build-debug/.cmake/api/v1/reply/target-wavepacket-Debug-bcf329e4816272852e11.json
/cmake-build-debug/CMakeFiles/propagate.dir/wavepackets.cpp.o
/cmake-build-debug/CMakeFiles/wavefunction.dir/wavepackets.cpp.o
/cmake-build-debug/CMakeFiles/wavepacket.dir/wavepackets.cpp.o
/cmake-build-debug/wavepacket
/calculate.sh
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-80e9e9115e4900cff778.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-09-09T18-53-54-0990.json
/cmake-build-debug/.cmake/api/v1/reply/target-potential-Debug-7372ba6df1ef4e6e1479.json
/cmake-build-debug/CMakeFiles/potential.dir/potentials.cpp.o
/cmake-build-debug/potential
